* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

header .logo img {
    max-width: 100px;
    height: auto;
}

.logo {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin: 0 1rem;
    transition: all 0.5s ease-in-out;
}

nav a:hover, nav a.active {
    color: rgba(147, 147, 147, 0.958);
    border-bottom: 3px solid rgba(147, 147, 147, 0.958);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
}


/* 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.login-container {
    padding: 30px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    background: rgba(75, 164, 212, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(75, 164, 212, 0.3);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}
